<%= simple_form_for([@post, @post.comments.build], html: { class: "form-horizontal"}) do |f| %>

  <%= f.input :commenter, label: "Commenter" %>
  <%= f.input :body, label: "Comment", as: :text, input_html: { rows: "3", class: 'mytextarea' } %>
 
  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
   
<% end %>